---
layout: default
---

{%-include back_link.html-%}

<article>
  <p class="post-meta">
    <time datetime="{{ page.date }}">{{ page.date | date: site.theme_config.date_format }}</time>
  </p>

  <h1>{{ page.title }}</h1>

  {{ content }}

  <div id="cusdis_thread"
  data-host="https://cusdis.com"
  data-app-id="09934298-70a8-466a-8057-f8ac6a3a0a81"
  data-page-id="{{ page.url }}"
  data-page-url="{{ site.url }}{{ page.url }}"
  data-page-title="{{ page.title }}"
  data-theme="auto"
></div>

<script async defer src="https://cusdis.com/js/cusdis.es.js"></script>

</article>
